.DS_Store
*/.DS_Store
*.cache
*.swp
*.py
*.txt
*-phrasing.json
commands.json
emily-modifiers.json
emily-symbols.json
georgi.json
main.json
movement.json
plover.cfg
plover.log
plugins/
rh-numpad.json
spanish*.json
uk_spelling.json
user.json
vim.json
